# Loading and Cleaning the Data

First, we'll load in the raw Kaggle data. We're not working in Dataquest's code editor, so we have to load in the dataset ourselves from the root directory.

In [ ]:
import csv

with open('kaggle2021-short.csv') as f:
    reader = csv.reader(f, delimiter=",")
    kaggle_data = list(reader)
    
column_names = kaggle_data[0]
survey_responses = kaggle_data[1:]

We've loaded in the raw dataset where all of the data is in terms of strings. Before we do any analysis, we'll make sure that each column is properly represented in the appropriate type.

In [ ]:
# Iterate over the indices so that we can update all of the data
num_rows = len(survey_responses)
for i in range(num_rows):

    # experience_coding
    survey_responses[i][0] = float(survey_responses[i][0]) 
    
    # python_user
    if survey_responses[i][1] == "TRUE":
        survey_responses[i][1] = True
    else:
        survey_responses[i][1] = False
    
    # r_user
    if survey_responses[i][2] == "TRUE":
        survey_responses[i][2] = True
    else:
        survey_responses[i][2] = False

    # sql_user
    if survey_responses[i][3] == "TRUE":
        survey_responses[i][3] = True
    else:
        survey_responses[i][3] = False

    # most_used
    if survey_responses[i][4] == "None":
        survey_responses[i][4] = None
    else:
        survey_responses[i][4] = survey_responses[i][4]


    # compensation
    survey_responses[i][5] = int(survey_responses[i][5])

# Counting People

As a first exercise, we'll count how many people report knowing Python, R, and SQL. We'll combine an `if-else` statement with a `for` loop. We only need to do something if we see a `True`, so we don't need an `else` branch here.

In [ ]:
python_user_count = 0
r_user_count = 0
sql_user_count = 0

for i in range(num_rows):

    # Detect if python_user column is True
    if survey_responses[i][1]:
        python_user_count = python_user_count + 1
    
    # Detect if r_user column is True
    if survey_responses[i][2]:
        r_user_count = r_user_count + 1

    # Detect if sql_user column is True
    if survey_responses[i][3]:
        sql_user_count = sql_user_count + 1

print("Number of Python users: " + str(python_user_count))
print("Number of R users: " + str(r_user_count))
print("Number of SQL users: " + str(sql_user_count))

print("Proportion of Python users: " + str(python_user_count / num_rows))
print("Proportion of R users: " + str(r_user_count  / num_rows))
print("Proportion of SQL users: " + str(sql_user_count  / num_rows))

Number of Python users: 21860
Number of R users: 5335
Number of SQL users: 10757
Proportion of Python users: 0.8416432449081739
Proportion of R users: 0.20540561352173412
Proportion of SQL users: 0.4141608593539445

# Aggregating Information

Here, we'll summarize the `experience_coding` and `compensation` columns to learn more about the survey participants. More specifically, we'll check both the range and average of each column. The range will be useful for understanding how spread out the values are, while the average helps indicate what a "typical" value looks like.

In [ ]:
# Aggregating all years of experience and compensation together into a single list
experience_coding_column = []
compensation_column = []

for i in range(num_rows):
    experience_coding_column.append(survey_responses[i][0])
    compensation_column.append(survey_responses[i][5])

In [ ]:
# Summarizing the experience_coding column
min_experience_coding = min(experience_coding_column)
max_experience_coding = max(experience_coding_column)
avg_experience_coding = sum(experience_coding_column) / num_rows

print("Minimum years of experience: " + str(min_experience_coding))
print("Maximum years of experience: " + str(max_experience_coding))
print("Average years of experience: " + str(avg_experience_coding))

Minimum years of experience: 0.0
Maximum years of experience: 30.0
Average years of experience: 5.297231740653729

In [ ]:
# Summarizing the compensation column
min_compensation = min(compensation_column)
max_compensation = max(compensation_column)
avg_compensation = sum(compensation_column) / num_rows

print("Minimum compensation: " + str(min_compensation))
print("Maximum compensation: " + str(max_compensation))
print("Average compensation: " + str(avg_compensation))

Minimum compensation: 0
Maximum compensation: 1492951
Average compensation: 53252.81696377007

# Categorizing Years of Experience

To do a more detailed analysis, we'll need to categorize everyone in terms of their years of experience. We'll add a new column to the dataset that contains this category. We'll bin years of experience in five-year increments.

In [ ]:
for i in range(num_rows):

    if survey_responses[i][0] < 5:
        survey_responses[i].append("<5 Years")
    
    elif survey_responses[i][0] >= 5 and survey_responses[i][0] < 10:
        survey_responses[i].append("5-10 Years")

    elif survey_responses[i][0] >= 10 and survey_responses[i][0] < 15:
        survey_responses[i].append("10-15 Years")
    
    elif survey_responses[i][0] >= 15 and survey_responses[i][0] < 20:
        survey_responses[i].append("15-20 Years")

    elif survey_responses[i][0] >= 20 and survey_responses[i][0] < 25:
        survey_responses[i].append("20-25 Years")
    
    else:
        survey_responses[i].append("25+ Years")

# Distibution of Experience and Compensation

Now that we have a new category for years of experience, we'll use these to create a set of lists that contain the `compensation` values for *each* category.

In [ ]:
bin_0_to_5 = []
bin_5_to_10 = []
bin_10_to_15 = []
bin_15_to_20 = []
bin_20_to_25 = []
bin_25_to_30 = []

for i in range(num_rows):
    
    if survey_responses[i][6] == "<5 Years":
        bin_0_to_5.append(survey_responses[i][5])
    
    elif survey_responses[i][6] == "5-10 Years":
        bin_5_to_10.append(survey_responses[i][5])
    
    elif survey_responses[i][6] == "10-15 Years":
        bin_10_to_15.append(survey_responses[i][5])
    
    elif survey_responses[i][6] == "15-20 Years":
        bin_15_to_20.append(survey_responses[i][5])
    
    elif survey_responses[i][6] == "20-25 Years":
        bin_20_to_25.append(survey_responses[i][5])

    else:
        bin_25_to_30.append(survey_responses[i][5])

In [ ]:
# Checking the distribution of experience in the dataset
print("People with < 5 years of experience: " + str(len(bin_0_to_5)))
print("People with 5 - 10 years of experience: " + str(len(bin_5_to_10)))
print("People with 10 - 15 years of experience: " + str(len(bin_10_to_15)))
print("People with 15 - 20 years of experience: " + str(len(bin_15_to_20)))
print("People with 20 - 25 years of experience: " + str(len(bin_20_to_25)))
print("People with 25+ years of experience: " + str(len(bin_25_to_30)))

People with < 5 years of experience: 18753
People with 5 - 10 years of experience: 3167
People with 10 - 15 years of experience: 1118
People with 15 - 20 years of experience: 1069
People with 20 - 25 years of experience: 925
People with 25+ years of experience: 941

In [ ]:
# Checking the distribution of experience in the dataset
print("Average salary of people with < 5 years of experience: " + str(sum(bin_0_to_5) / len(bin_0_to_5)))
print("Average salary of people with 5 - 10 years of experience: " + str(sum(bin_5_to_10) / len(bin_5_to_10)))
print("Average salary of people with 10 - 15 years of experience: " + str(sum(bin_10_to_15) / len(bin_10_to_15)))
print("Average salary of people with 15 - 20 years of experience: " + str(sum(bin_15_to_20) / len(bin_15_to_20)))
print("Average salary of people with 20 - 25 years of experience: " + str(sum(bin_20_to_25) / len(bin_20_to_25)))
print("Average salary of people with 25+ years of experience: " + str(sum(bin_25_to_30) / len(bin_25_to_30)))

Average salary of people with < 5 years of experience: 45047.87484669119
Average salary of people with 5 - 10 years of experience: 59312.82033470161
Average salary of people with 10 - 15 years of experience: 80226.75581395348
Average salary of people with 15 - 20 years of experience: 75101.82694106642
Average salary of people with 20 - 25 years of experience: 103159.80432432433
Average salary of people with 25+ years of experience: 90444.98512221042

# Summary of Findings

Based on the number of people in each experience category, most of the people who took the survey have just started their career. Over 18,000 people have less than five years of experience coding. The next-highest category is the journeymen, with 5-10 years of experience. After that, there are several people in each of the long-term programmers who have more than 10 years of experience.

Average salary seems to increase with experience, but this increase doesn't seem to be linear. There are times when the average salary dips when we move into a category of higher experience. There might be several reasons why this happens, but we don't have any data to help explain this. Overall, being a data professional provides a solid living, based on the reported data.